<!DOCTYPE html>
<html>
  <head>
    <title>PM</title>
    <link rel='stylesheet' href='css/bootstrap.css' />
  </head>
  <body class='container'>
    
    <div class='page-header'>PM-app</div>
   
   <table class='table table-bordered table-condensed table-stripped'>
   <thead>
   	<tr>
   	<th>Id</th>
   	<th>Name</th>
   	<th>Price</th>
   	<th>Date</th>
    <th>Description</th>
   </tr>
   </thead>
   <% allProducts.forEach(function(item) { %>
       <tr>
       	<td><%=item.id%></td>
       	<td><%=item.name%></td>
       	<td><%=item.price%></td>
       	<td><%=item.mfg%></td>
       	<td><%=item.description%></td>
       </tr>
    <% }); %>
    </table>
   
  </body>
</html>
